# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
build/
out/

# Environment variables
.env
.env.*

# Test coverage
coverage/

# TypeScript cache
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
tmp/
temp/

package-lock.json
yarn.lock
pnpm-lock.yaml

*.sublime-workspace
*.sublime-project
*.atom
